*{
    padding:0px;
    margin
}

#container {
    
    background-color: rgb(13, 13, 72);
    width: 970px;
    margin:auto;
    padding:5px;
}
h1 {
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(194,26,42);
    color: grey;
    width: 95%;
    margin: auto;
    margin-top: 10px;
}
.nav{
    display: inline-block;
    background-color: rgb(39, 125, 126);
    opacity: 1;
    border-radius: 15px;
    font-size: 10px;
    vertical-align: top;
    margin: 10px;
    width:15%;
    height:150px;
    line-height: 10px;
}

#resetStyle {
    margin:0px;
    padding-top:20px;
    padding-left:10px;
    display:inline-block;
}

#resetStyle2 {
    margin:0px;
    padding-left:27px;
}

#resetStyle3 {
    margin:0px;
    padding-left:25px;
}
.content {
    
    display: inline-block;
    border-radius: 15px;
    width: 75%;
    background-color: black;
    color: white;
    margin: 10px;
    font-size: 12px;
    padding:22px;
}

#footer {
    background-color:grey;
    padding: 15px;
    border-radius: 15px;
    width: 95%;
}

.turquoiseMe {
    color:rgb(31, 223, 204);
    text-decoration: underline;

}
.purpleMe {
    color:rgb(148, 71, 219);
}

.underline {
    text-decoration: underline;
}